# Ignore files
public/blocked_ips.txt
app/Dashkit/.env
composer.lock
go.sum

# Ignore folders
app/Elwira
public/static/elwira
app/Flymetrade
public/static/flymetrade
app/Visioniconic
public/static/visioniconic
system/vendor/plugins/
system/storage/cache/
system/storage/logging/
vendor/