# Ignore .env file yang berada di dalam folder app/visioniconic
app/visioniconic/.env

# Ignore folder vendor yang ada di dalam folder system
system/vendor/plugins/symfony
system/vendor/plugins/twig
system/framework/writeable/cache
system/framework/writeable/logging