:root {
    --pix-dialog-border-radius: 0px;
    --pix-dialog-padding: 0px;
    --pix-dialog-close-left: initial;
    --pix-dialog-close-size: 35px;
    --pix-dialog-close-color: #eee;
    --pix-dialog-background-color: none;
    --pix-dialog-width: calc(var(--pix-container-width, 1140px) / 2);
    --pix-dialog-height: initial;
    --pix-dialog-shadow: none;
    --pix-dialog-margin: auto;
    --pix-dialog-enter-animation-duration: 300ms;
    --pix-dialog-exit-animation-duration: 200ms;
    --pix-dialog-backdrop-bg: rgba(0, 0, 0, 0.8);
    --pix-dialog-backdrop-filter: none;
    --pix-launcher-bottom-value: 20px;
    --pix-launcher-horizontal-value: 20px;
    --pix-launcher-background-color: #fff;
    --pix-launcher-color: #333;
    --pix-launcher-shadow: none;
    --pix-launcher-padding: 0;
    --pix-launcher-width: 50px;
    --pix-launcher-height: 50px;
    --pix-launcher-border-radius: 100%
}

.pix-popup {
    padding: 0;
    border: 0;
    border-radius: 0;
    float: none;
    bottom: 0;
    background: transparent!important;
    min-width: 100vw;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-x: clip;
    margin-bottom: 0;
    position: fixed;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    align-items: center;
    pointer-events: none!important;
    display: flex;
    max-width: 100%;
    --pix-dialog-close-right: calc(var(--pix-dialog-padding, 0px) - 35px);
    --pix-dialog-close-top: calc(var(--pix-dialog-padding, 0px) - 35px);
    --pix-launcher-area-height: calc( var(--pix-launcher-height) + var(--pix-launcher-bottom-value) ) ;
    z-index: 100000000;
    opacity: 1
}

.pix-popup .pix-dialog-container {
    margin: var(--pix-dialog-margin);
    width: calc(var(--pix-dialog-width) + 2*var(--pix-dialog-padding,0));
    max-width: 100%;
    position: relative;
    padding: var(--pix-dialog-padding)
}

.pix-popup .pix-dialog-inner {
    margin: auto;
    width: var(--pix-dialog-width);
    max-width: 100%;
    position: relative;
    border-radius: var(--pix-dialog-border-radius);
    box-shadow: var(--pix-dialog-shadow);
    background: var(--pix-dialog-background-color)
}

.pix-popup.pix-disable-backdrop {
    pointer-events: none!important
}

.pix-popup.pix-disable-backdrop .pix-dialog-container {
    pointer-events: auto!important
}

.pix-popup.pix-disable-backdrop .pix-dialog-backdrop {
    display: none!important
}

.pix-popup.popup-width-full {
    --pix-dialog-width: 100vw
}

.pix-popup.popup-width-content {
    --pix-dialog-width: auto
}

.pix-popup:not(.popup-height-content):not(.popup-height-full):not(.popup-height-custom) {
    padding-top: 60px;
    padding-bottom: 60px
}

.pix-popup:not(.popup-height-content):not(.popup-height-full):not(.popup-height-custom) .pix-dialog-inner {
    overflow: hidden;
    overflow: clip
}

.pix-popup.popup-height-content {
    overflow-y: auto
}

.pix-popup.popup-height-content .pix-dialog-inner {
    overflow: hidden;
    overflow: clip
}

.pix-popup.popup-height-full .pix-dialog-inner {
    height: 100vh;
    height: calc(100vh - 2*var(--pix-dialog-padding,0px));
    height: calc(100dvh - 2*var(--pix-dialog-padding,0px));
    max-height: 100dvh;
    overflow-x: hidden;
    overflow-x: clip;
    overflow-y: auto
}

.pix-popup.popup-height-custom .pix-dialog-container {
    height: var(--pix-dialog-height)
}

.pix-popup.popup-height-custom .pix-dialog-container .pix-dialog-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-x: clip;
    overflow-y: auto
}

.pix-popup.pix-overflow-visible .pix-dialog-inner {
    overflow: visible!important
}

.pix-popup.pix-popup-has-launacher.attach-popup-launcher.popup-height-full .pix-dialog-inner,.pix-popup.pix-popup-has-launacher.attach-popup-launcher.popup-height-custom .pix-dialog-inner {
    max-height: calc(100vh - 2*var(--pix-dialog-padding,0px) - 70px);
    max-height: calc(100dvh - 2*var(--pix-dialog-padding,0px) - 70px)
}

.pix-popup.popup-horizontal-left .pix-dialog-container {
    margin-left: 0
}

.pix-popup.popup-horizontal-right .pix-dialog-container {
    margin-right: 0
}

.pix-popup.popup-vertical-top .pix-dialog-container {
    margin-top: 0
}

.pix-popup.popup-vertical-bottom .pix-dialog-container {
    margin-bottom: 0
}

.pix-popup.attach-popup-launcher {
    overflow-y: hidden;
    --pix-dialog-padding: 20px
}

.pix-popup.attach-popup-launcher .pix-dialog-container {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: var(--pix-launcher-area-height)
}

.pix-popup.attach-popup-launcher.launcher-bottom-left .pix-dialog-container {
    margin-left: 0;
    margin-right: auto
}

.pix-popup.popup-shadow-small {
    --pix-dialog-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15)
}

.pix-popup.popup-shadow-medium {
    --pix-dialog-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1)
}

.pix-popup.popup-shadow-large {
    --pix-dialog-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1)
}

.pix-popup.popup-close-none .pix-popup-close {
    display: none
}

.pix-popup.popup-close-left {
    --pix-dialog-close-right: initial;
    --pix-dialog-close-left: calc(var(--pix-dialog-padding, 0px) - 35px)
}

.pix-popup.popup-close-inside {
    --pix-dialog-close-right: calc(var(--pix-dialog-padding, 0px) + 10px);
    --pix-dialog-close-top: calc(var(--pix-dialog-padding, 0px) + 10px)
}

.pix-popup.popup-close-inside.popup-close-left {
    --pix-dialog-close-right: initial;
    --pix-dialog-close-left: calc(var(--pix-dialog-padding, 0px) + 10px)
}

.pix-popup.displayed {
    display: flex
}

.pix-popup.displayed:not(.pix-disable-backdrop) {
    pointer-events: auto!important
}

.pix-popup.displayed dialog::backdrop,.pix-popup.displayed dialog+.backdrop {
    display: block
}

.pix-popup:not(.displayed) {
    overflow: hidden;
    overflow: clip
}

.pix-popup:not(.displayed) .pix-dialog-inner {
    overflow: hidden;
    overflow: clip
}

.pix-popup:not(.displayed) *,.pix-popup:not(.displayed) .pix-dialog-container {
    pointer-events: none!important
}

.pix-popup:not(.displayed) .animate-in {
    transition-duration: 0s!important
}

.pix-popup.transitioned .pix-dialog-inner,.pix-popup.transitioned .pix-popup-close {
    opacity: 1;
    transform: none
}

.pix-popup.transitioned .pix-dialog-backdrop {
    display: block
}

.pix-popup .pix-dialog-container,.pix-popup .pix-dialog-backdrop {
    opacity: 0
}

.pix-popup.displayed.animation-none .pix-dialog-container,.pix-popup.displayed.animation-none .pix-dialog-backdrop,.pix-popup.displayed:not(.animation-fade):not(.animation-scale) .pix-dialog-container,.pix-popup.displayed:not(.animation-fade):not(.animation-scale) .pix-dialog-backdrop {
    transform: none;
    opacity: 1
}

.pix-popup.animation-scale .pix-dialog-container,.pix-popup.animation-fade .pix-dialog-container,.pix-popup.animation-fade-in-left .pix-dialog-container,.pix-popup.animation-fade-in-right .pix-dialog-container,.pix-popup.animation-fade-in-up .pix-dialog-container,.pix-popup.animation-fade-in-down .pix-dialog-container,.pix-popup.animation-fade-in-bottom-left .pix-dialog-container,.pix-popup.animation-fade-in-bottom-right .pix-dialog-container,.pix-popup.animation-fade-in-top-left .pix-dialog-container,.pix-popup.animation-fade-in-top-right .pix-dialog-container {
    will-change: transform,opacity;
    transition-property: transform,opacity;
    transition-timing-function: cubic-bezier(0,.7,.2,1);
    transition-duration: var(--pix-dialog-exit-animation-duration);
    opacity: 0
}

.pix-popup.animation-scale .pix-dialog-backdrop,.pix-popup.animation-fade .pix-dialog-backdrop,.pix-popup.animation-fade-in-left .pix-dialog-backdrop,.pix-popup.animation-fade-in-right .pix-dialog-backdrop,.pix-popup.animation-fade-in-up .pix-dialog-backdrop,.pix-popup.animation-fade-in-down .pix-dialog-backdrop,.pix-popup.animation-fade-in-bottom-left .pix-dialog-backdrop,.pix-popup.animation-fade-in-bottom-right .pix-dialog-backdrop,.pix-popup.animation-fade-in-top-left .pix-dialog-backdrop,.pix-popup.animation-fade-in-top-right .pix-dialog-backdrop {
    will-change: opacity;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0,.7,.2,1);
    transition-duration: var(--pix-dialog-exit-animation-duration);
    opacity: 0
}

.pix-popup.animation-scale.displayed .pix-dialog-container,.pix-popup.animation-fade.displayed .pix-dialog-container,.pix-popup.animation-fade-in-left.displayed .pix-dialog-container,.pix-popup.animation-fade-in-right.displayed .pix-dialog-container,.pix-popup.animation-fade-in-up.displayed .pix-dialog-container,.pix-popup.animation-fade-in-down.displayed .pix-dialog-container,.pix-popup.animation-fade-in-bottom-left.displayed .pix-dialog-container,.pix-popup.animation-fade-in-bottom-right.displayed .pix-dialog-container,.pix-popup.animation-fade-in-top-left.displayed .pix-dialog-container,.pix-popup.animation-fade-in-top-right.displayed .pix-dialog-container {
    transform: none;
    opacity: 1;
    transition-duration: var(--pix-dialog-enter-animation-duration);
    transition-timing-function: cubic-bezier(0,.7,.2,1)
}

.pix-popup.animation-scale.displayed .pix-dialog-backdrop,.pix-popup.animation-fade.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-left.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-right.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-up.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-down.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-bottom-left.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-bottom-right.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-top-left.displayed .pix-dialog-backdrop,.pix-popup.animation-fade-in-top-right.displayed .pix-dialog-backdrop {
    opacity: 1;
    transition-duration: var(--pix-dialog-enter-animation-duration);
    transition-timing-function: cubic-bezier(0,.7,.2,1)
}

.pix-popup.animation-scale .pix-dialog-container {
    transform: scale(.85) translate(0px,20px)
}

.pix-popup.animation-fade-in-left .pix-dialog-container {
    transform: translate(-100px,0px)
}

.pix-popup.animation-fade-in-right .pix-dialog-container {
    transform: translate(100px,0px)
}

.pix-popup.animation-fade-in-up .pix-dialog-container {
    transform: translate(0px,40px)
}

.pix-popup.animation-fade-in-down .pix-dialog-container {
    transform: translate(0px,-40px)
}

.pix-popup.animation-fade-in-bottom-left .pix-dialog-container {
    transform: translate(-40px,40px)
}

.pix-popup.animation-fade-in-bottom-right .pix-dialog-container {
    transform: translate(40px,40px)
}

.pix-popup.animation-fade-in-top-left .pix-dialog-container {
    transform: translate(-40px,-40px)
}

.pix-popup.animation-fade-in-top-right .pix-dialog-container {
    transform: translate(40px,-40px)
}

.pix-popup .pix-popup-close {
    display: inline-block;
    position: absolute;
    z-index: 100;
    opacity: 0;
    right: var(--pix-dialog-close-right);
    left: var(--pix-dialog-close-left);
    top: var(--pix-dialog-close-top);
    color: var(--pix-dialog-close-color);
    cursor: pointer;
    height: var(--pix-dialog-close-size);
    width: var(--pix-dialog-close-size)
}

.pix-popup .pix-popup-close svg {
    width: 100%!important;
    height: 100%!important
}

.pix-popup.pix-inner-close {
    --pix-dialog-close-top: calc(var(--pix-dialog-padding, 0px) - 40px) !important;
    --pix-dialog-close-right: calc(var(--pix-dialog-padding, 0px) - 0) !important
}

.pix-popup.pix-inner-close.popup-close-left {
    --pix-dialog-close-right: initial;
    --pix-dialog-close-left: calc(var(--pix-dialog-padding, 0px) - 0px) !important
}

.pix-popup .pix-dialog-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--pix-dialog-backdrop-bg);
    backdrop-filter: var(--pix-dialog-backdrop-filter);
    -webkit-backdrop-filter: var(--pix-dialog-backdrop-filter)
}

.pix-popup .pix-sticky-top-adjust {
    top: 20px
}

@media only screen and (max-width: 992px) {
    .pix-popup .pix-popup-close {
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 35px);
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 35px)
    }

    .pix-popup .pix-popup-close.popup-close-left {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 35px)
    }

    .pix-popup.popup-close-inside .pix-popup-close {
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) + 10px);
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) + 10px)
    }

    .pix-popup.popup-close-inside.popup-close-left .pix-popup-close {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) + 10px)
    }

    .pix-popup.pix-inner-close .pix-popup-close {
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 40px) !important;
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 0px) !important
    }

    .pix-popup.pix-inner-close.popup-close-left .pix-popup-close {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-tablet, var(--pix-dialog-padding, 0px)) - 0px) !important
    }

    .pix-popup.popup-height-full .pix-dialog-inner {
        height: calc(100vh - 2*var(--pix-dialog-height-tablet,var(--pix-dialog-height,0px)));
        height: calc(100dvh - 2*var(--pix-dialog-height-tablet,var(--pix-dialog-height,0px)))
    }

    .pix-popup.popup-height-custom .pix-dialog-container {
        height: var(--pix-dialog-height-tablet,var(--pix-dialog-height))
    }

    .pix-popup .pix-dialog-container {
        padding: var(--pix-dialog-padding-tablet,var(--pix-dialog-padding));
        width: calc(var(--pix-dialog-width) + 2*var(--pix-dialog-padding-tablet,var(--pix-dialog-padding,0)))
    }

    .pix-popup .pix-dialog-inner {
        border-radius: var(--pix-dialog-border-radius-tablet,var(--pix-dialog-border-radius))
    }

    .pix-popup-launcher {
        bottom: var(--pix-launcher-bottom-value-tablet,var(--pix-launcher-bottom-value))!important;
        right: var(--pix-launcher-horizontal-value-tablet,var(--pix-launcher-horizontal-value))!important
    }

    .pix-popup-launcher.launcher-bottom-left {
        right: initial!important;
        left: var(--pix-launcher-horizontal-value-tablet,var(--pix-launcher-horizontal-value))!important
    }
}

@media only screen and (max-width: 576px) {
    .pix-popup .pix-popup-close {
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 35px);
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 35px)
    }

    .pix-popup .pix-popup-close.popup-close-left {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 35px)
    }

    .pix-popup.popup-close-inside .pix-popup-close {
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) + 10px);
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) + 10px)
    }

    .pix-popup.popup-close-inside.popup-close-left .pix-popup-close {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) + 10px)
    }

    .pix-popup.pix-inner-close .pix-popup-close {
        --pix-dialog-close-top: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 40px) !important;
        --pix-dialog-close-right: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 0px) !important
    }

    .pix-popup.pix-inner-close.popup-close-left .pix-popup-close {
        --pix-dialog-close-right: initial;
        --pix-dialog-close-left: calc(var(--pix-dialog-padding-mobile, var(--pix-dialog-padding, 0px)) - 0px) !important
    }

    .pix-popup.popup-height-full .pix-dialog-inner {
        height: calc(100vh - 2*var(--pix-dialog-height-mobile,var(--pix-dialog-height-tablet,var(--pix-dialog-height,0px))));
        height: calc(100dvh - 2*var(--pix-dialog-height-mobile,var(--pix-dialog-height-tablet,var(--pix-dialog-height,0px))))
    }

    .pix-popup.popup-height-custom .pix-dialog-container {
        height: var(--pix-dialog-height-mobile,var(--pix-dialog-height-tablet,var(--pix-dialog-height)))
    }

    .pix-popup .pix-dialog-container {
        padding: var(--pix-dialog-padding-mobile,var(--pix-dialog-padding-tablet,var(--pix-dialog-padding)));
        width: calc(var(--pix-dialog-width) + 2*var(--pix-dialog-padding-mobile,var(--pix-dialog-padding-tablet,var(--pix-dialog-padding,0))))
    }

    .pix-popup .pix-dialog-inner {
        border-radius: var(--pix-dialog-border-radius-mobile,var(--pix-dialog-border-radius))
    }

    .pix-popup-launcher {
        bottom: var(--pix-launcher-bottom-value-mobile,var(--pix-launcher-bottom-value-tablet,var(--pix-launcher-bottom-value)))!important;
        right: var(--pix-launcher-horizontal-value-mobile,var(--pix-launcher-horizontal-value-tablet,var(--pix-launcher-horizontal-value)))!important
    }

    .pix-popup-launcher.launcher-bottom-left {
        right: initial!important;
        left: var(--pix-launcher-horizontal-value-mobile,var(--pix-launcher-horizontal-value-tablet,var(--pix-launcher-horizontal-value)))!important
    }
}

dialog.pix-popup::backdrop,dialog.pix-popup+.backdrop {
    --pix-dialog-backdrop-bg: rgba(0, 0, 0, 0.8);
    --pix-dialog-backdrop-filter: none;
    background: var(--pix-dialog-backdrop-bg);
    backdrop-filter: var(--pix-dialog-backdrop-filter);
    -webkit-backdrop-filter: var(--pix-dialog-backdrop-filter)
}

.pix-popup-launcher,.pix-popup-launcher:focus {
    position: fixed;
    bottom: var(--pix-launcher-bottom-value);
    right: var(--pix-launcher-horizontal-value);
    width: var(--pix-launcher-width);
    height: var(--pix-launcher-height);
    box-shadow: var(--pix-launcher-shadow);
    background: var(--pix-launcher-background-color);
    border-radius: var(--pix-launcher-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    overflow: hidden;
    z-index: 1000;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0,.2,.3,1);
    transition-duration: 200ms
}

.pix-popup-launcher.launcher-in-front,.pix-popup-launcher:focus.launcher-in-front {
    z-index: 100000000000
}

.pix-popup-launcher.launcher-bottom-left,.pix-popup-launcher:focus.launcher-bottom-left {
    right: initial;
    left: var(--pix-launcher-horizontal-value)
}

.pix-popup-launcher:hover,.pix-popup-launcher:focus:hover {
    transform: scale(1.1)
}

.pix-popup-launcher.opened .pix-launcher-main,.pix-popup-launcher:focus.opened .pix-launcher-main {
    opacity: 0;
    transform: rotate(-30deg)
}

.pix-popup-launcher.opened .pix-launcher-close,.pix-popup-launcher:focus.opened .pix-launcher-close {
    opacity: 1;
    transform: none
}

.pix-popup-launcher .pix-launcher-close,.pix-popup-launcher:focus .pix-launcher-close {
    opacity: 0;
    transform: rotate(45deg) scale(.8);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center
}

.pix-popup-launcher .pix-launcher-main,.pix-popup-launcher:focus .pix-launcher-main {
    width: 100%;
    height: 100%;
    line-height: 0;
    padding: var(--pix-launcher-padding,0);
    display: flex;
    justify-content: center
}

.pix-popup-launcher .pix-launcher-main,.pix-popup-launcher .pix-launcher-close,.pix-popup-launcher:focus .pix-launcher-main,.pix-popup-launcher:focus .pix-launcher-close {
    color: var(--pix-launcher-color);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    margin: auto;
    transition-property: opacity,transform;
    transition-timing-function: cubic-bezier(0,.2,.3,1);
    transition-duration: 200ms
}

.pix-popup-launcher .pix-launcher-main svg,.pix-popup-launcher .pix-launcher-close svg,.pix-popup-launcher:focus .pix-launcher-main svg,.pix-popup-launcher:focus .pix-launcher-close svg {
    width: 30px;
    height: 30px;
    align-self: center
}

.pix-popup-launcher .pix-launcher-main img,.pix-popup-launcher .pix-launcher-close img,.pix-popup-launcher:focus .pix-launcher-main img,.pix-popup-launcher:focus .pix-launcher-close img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.pix-popup-launcher.launcher-shadow-small,.pix-popup-launcher:focus.launcher-shadow-small {
    --pix-launcher-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1)
}

.pix-popup-launcher.launcher-shadow-medium,.pix-popup-launcher:focus.launcher-shadow-medium {
    --pix-launcher-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.2rem rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1)
}

.pix-popup-launcher.launcher-shadow-large,.pix-popup-launcher:focus.launcher-shadow-large {
    --pix-launcher-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.1)
}

.pix-audio-popup audio {
    width: 100%
}

.pix-audio-popup audio:focus,.pix-audio-popup audio:active {
    outline: none!important;
    border: 0!important
}

.pix-is-safari .pix-popup.transitioned.displayed {
    transform: translateZ(1000px)
}

.pix-is-safari .pix-popup.popup-height-content .pix-dialog-backdrop {
    height: 400%
}

.pix-is-safari .pix-popup .pix-dialog-inner {
    transform: translate3d(0,0,0)
}

.pix-popup .pix-intro-1:not(section) {
    width: initial
}

.pix-popup .particles-container,.pix-popup .pix-scene {
    width: 100%;
    margin-left: initial
}

.pix-popup .vc_section[data-vc-full-height] {
    min-height: calc(100dvh - 2*var(--pix-dialog-padding,0))!important
}

.pix-popup .vc_section.vc_section-has-fill[data-vc-full-width=true]>.pix-divider,.pix-popup .vc_section.vc_section-has-fill[data-vc-full-width=true]>.pix_element_overlay {
    max-width: var(--pix-dialog-width)!important;
    left: initial!important;
    margin-left: 0!important
}

@media(max-width: 992px) {
    .pix-dialog-inner>.container {
        max-width:initial!important
    }
}

@media(min-width: 768px) {
    .pix-popup .elementor-section.elementor-section-height-full {
        height:calc(100dvh - 2*var(--pix-dialog-padding,0))!important
    }
}

.pix-popup .elementor-video-iframe {
    aspect-ratio: var(--video-aspect-ratio)
}
