Options -Multiviews

RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^._(HTTrack|WebZip|wget|curl|Saveweb2zip|Python|Java|Go-http-client|aiohttp|scrapy)._$ [NC]
RewriteBase /

<FilesMatch "config\.php|database\.php|.env|.sql">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.\*)$ index.php?url=$1 [QSA,L]
RewriteRule \.(jpg|jpeg|png|gif)$ - [F]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
